{% extends 'base.html' %}
{% load static %}

{% block main %}

<link rel="stylesheet" href="{% static 'css/jobs.css' %}">


<div class="container job-container py-5">

    <h2 class="job-title mb-4">
        All 7 jobs found
    </h2>


    <!-- Job 1 -->
    <div class="job-card">

        <div class="job-info">
            <span class="job-type">Full Time</span>

            <h3>Django Developer</h3>

            <p>
                <i class="fa-solid fa-location-dot"></i>
                Lucknow, India
            </p>
        </div>


        <div class="salary">
            ₹ 45000 / Yearly
        </div>


        <div>
            <button class="apply-btn">
                Apply
            </button>
        </div>

    </div>



    <!-- Job 2 -->
    <div class="job-card">

        <div class="job-info">

            <span class="job-type">Full Time</span>

            <h3>UI/UX Developer</h3>

            <p>
                <i class="fa-solid fa-location-dot"></i>
                Jankipuram, Lucknow
            </p>

        </div>


        <div class="salary">
            ₹ 800000 / Yearly
        </div>


        <div>
            <button class="apply-btn">
                Apply
            </button>
        </div>

    </div>




    <!-- Job 3 -->
    <div class="job-card">

        <div class="job-info">

            <span class="job-type">Full Time</span>

            <h3>MERN Developer</h3>

            <p>
                <i class="fa-solid fa-location-dot"></i>
                Noida Sector 52
            </p>

        </div>


        <div class="salary">
            ₹ 500000 / Yearly
        </div>


        <div>
            <button class="apply-btn">
                Apply
            </button>
        </div>

    </div>




    <!-- Job 4 -->
    <div class="job-card">

        <div class="job-info">

            <span class="job-type">Full Time</span>

            <h3>Data Scientist</h3>

            <p>
                <i class="fa-solid fa-location-dot"></i>
                Noida, Sector 62
            </p>

        </div>


        <div class="salary">
            ₹ 56000 / Yearly
        </div>


        <div>
            <button class="apply-btn">
                Apply
            </button>
        </div>

    </div>




    <!-- Job 5 -->
    <div class="job-card">

        <div class="job-info">

            <span class="job-type">Full Time</span>

            <h3>Fronent Developer</h3>

            <p>
                <i class="fa-solid fa-location-dot"></i>
                Noida, Sector 62
            </p>

        </div>


        <div class="salary">
            ₹ 45000 / Yearly
        </div>


        <div>
            <button class="apply-btn">
                Apply
            </button>
        </div>

    </div>




    <!-- Job 6 -->
    <div class="job-card">

        <div class="job-info">

            <span class="job-type">Part Time</span>

            <h3>Java Developer</h3>

            <p>
                <i class="fa-solid fa-location-dot"></i>
                Remote
            </p>

        </div>


        <div class="salary">
            ₹ 12000 / Yearly
        </div>


        <div>
            <button class="apply-btn">
                Apply
            </button>
        </div>

    </div>




    <!-- Job 7 -->
    <div class="job-card">

        <div class="job-info">

            <span class="job-type">Full Time</span>

            <h3>Junior Software Engineer</h3>

            <p>
                <i class="fa-solid fa-location-dot"></i>
                Jankipuram, Lucknow
            </p>

        </div>


        <div class="salary">
            ₹ 70000 / Yearly
        </div>


        <div>
            <button class="apply-btn">
                Apply
            </button>
        </div>

    </div>


</div>


{% endblock %}